### Flutter ###
# Flutter/Dart/Pub related
/frontend/doc/api/
/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.fvm/flutter_sdk
/frontend/.packages
/frontend/.pub-cache/
/frontend/.pub/
/frontend/build/
/frontend/coverage/
/frontend/lib/generated_plugin_registrant.dart
# For library packages, don’t commit the pubspec.lock file.
# Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
# See https://dart.dev/guides/libraries/private-files#pubspeclock
#/flutter/pubspec.lock

# Android related
/frontend/android/**/gradle-wrapper.jar
/frontend/android/.gradle
/frontend/android/captures/
/frontend/android/gradlew
/frontend/android/gradlew.bat
/frontend/android/key.properties
/frontend/android/local.properties
/frontend/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
/frontend/ios/**/*.mode1v3
/frontend/ios/**/*.mode2v3
/frontend/ios/**/*.moved-aside
/frontend/ios/**/*.pbxuser
/frontend/ios/**/*.perspectivev3
/frontend/ios/**/*sync/
/frontend/ios/**/.sconsign.dblite
/frontend/ios/**/.tags*
/frontend/ios/**/.vagrant/
/frontend/ios/**/DerivedData/
/frontend/ios/**/Icon?
/frontend/ios/**/Pods/
/frontend/ios/**/.symlinks/
/frontend/ios/**/profile
/frontend/ios/**/xcuserdata
/frontend/ios/.generated/
/frontend/ios/Flutter/.last_build_id
/frontend/ios/Flutter/App.framework
/frontend/ios/Flutter/Flutter.framework
/frontend/ios/Flutter/Flutter.podspec
/frontend/ios/Flutter/Generated.xcconfig
/frontend/ios/Flutter/app.flx
/frontend/ios/Flutter/app.zip
/frontend/ios/Flutter/flutter_assets/
/frontend/ios/Flutter/flutter_export_environment.sh
/frontend/ios/ServiceDefinitions.json
/frontend/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!/frontend/ios/**/default.mode1v3
!/frontend/ios/**/default.mode2v3
!/frontend/ios/**/default.pbxuser
!/frontend/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
/go/*.exe
/go/*.exe~
/go/*.dll
/go/*.so
/go/*.dylib

# Test binary, built with `go test -c`
/go/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/go/*.out

# Dependency directories (remove the comment below to include it)
# /go/vendor/

# Go workspace file
/go/go.work

# End of https://www.toptal.com/developers/gitignore/api/go,flutter
go/.env
